In [1]:
import numpy as np
import pandas as pd

In [2]:
income = [1200, 200, 500, 250]

In [3]:
for i in income:
    print(f'my incomes are: {i+ (i*0.5)}')

my incomes are: 1800.0
my incomes are: 300.0
my incomes are: 750.0
my incomes are: 375.0

In [4]:
from gapminder import gapminder
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

In [5]:
df = gapminder

In [6]:
asia_data = df[df['continent'] == 'Asia']

europe_data = df[df['continent'] == 'Europe']

In [7]:
t_statistic, p_value = ttest_ind(asia_data['lifeExp'], europe_data['lifeExp'])

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -17.35002500917482
P-Value: 5.410130343019877e-57

In [8]:
# we reject null hypothesis as p value is less than 0.05
# there is a statisticaly significant difference in life expectancy

In [9]:
# one sided t test

In [10]:
selected_countries = gapminder[gapminder['country'].isin(['Ireland', 'Switzerland'])]
selected_countries

          country continent  year  lifeExp      pop     gdpPercap
744       Ireland    Europe  1952   66.910  2952156   5210.280328
745       Ireland    Europe  1957   68.900  2878220   5599.077872
746       Ireland    Europe  1962   70.290  2830000   6631.597314
747       Ireland    Europe  1967   71.080  2900100   7655.568963
748       Ireland    Europe  1972   71.280  3024400   9530.772896
749       Ireland    Europe  1977   72.030  3271900  11150.981130
750       Ireland    Europe  1982   73.100  3480000  12618.321410
751       Ireland    Europe  1987   74.360  3539900  13872.866520
752       Ireland    Europe  1992   75.467  3557761  17558.815550
753       Ireland    Europe  1997   76.122  3667233  24521.947130
754       Ireland    Europe  2002   77.783  3879155  34077.049390
755       Ireland    Europe  2007   78.885  4109086  40675.996350
1476  Switzerland    Europe  1952   69.620  4815000  14734.232750
1477  Switzerland    Europe  1957   70.560  5126000  17909.489730
1478  Switzerland    Europe  1962   71.320  5666000  20431.092700
1479  Switzerland    Europe  1967   72.770  6063000  22966.144320
1480  Switzerland    Europe  1972   73.780  6401400  27195.113040
1481  Switzerland    Europe  1977   75.390  6316424  26982.290520
1482  Switzerland    Europe  1982   76.210  6468126  28397.715120
1483  Switzerland    Europe  1987   77.410  6649942  30281.704590
1484  Switzerland    Europe  1992   78.030  6995447  31871.530300
1485  Switzerland    Europe  1997   79.370  7193761  32135.323010
1486  Switzerland    Europe  2002   80.620  7361757  34480.957710
1487  Switzerland    Europe  2007   81.701  7554661  37506.419070

In [11]:
t_statistic, p_value = ttest_ind(
    selected_countries[selected_countries['country'] == 'Ireland']['lifeExp'],
    selected_countries[selected_countries['country'] == 'Switzerland']['lifeExp'],
    alternative='less'  # We're testing if Ireland's life expectancy is less than Switzerland's
)

In [12]:
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -1.6337051626498607
P-Value: 0.05827575461822978

In [23]:
# there is no significant difference in life expectancy between Ireland and Switzerland

In [35]:
# two sided test for different means

In [24]:
selected_data = gapminder[(gapminder['year'].isin([1957, 2007])) 
                         & (gapminder['continent'] == 'Africa')]

In [25]:
selected_data

       country continent  year  lifeExp       pop    gdpPercap
25     Algeria    Africa  1957   45.685  10270856  3013.976023
35     Algeria    Africa  2007   72.301  33333216  6223.367465
37      Angola    Africa  1957   31.999   4561361  3827.940465
47      Angola    Africa  2007   42.731  12420476  4797.231267
121      Benin    Africa  1957   40.358   1925173   959.601080
...        ...       ...   ...      ...       ...          ...
1595    Uganda    Africa  2007   51.542  29170398  1056.380121
1681    Zambia    Africa  1957   44.077   3016000  1311.956766
1691    Zambia    Africa  2007   42.384  11746035  1271.211593
1693  Zimbabwe    Africa  1957   50.469   3646340   518.764268
1703  Zimbabwe    Africa  2007   43.487  12311143   469.709298

[104 rows x 6 columns]

In [30]:
t_statistic, p_value = ttest_rel(
    selected_data[selected_data['year'] == 2007]['lifeExp'],
    selected_data[selected_data['year'] == 1957]['lifeExp']
)

# Output the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 11.380657884778293
P-Value: 1.3080722923851542e-15

In [34]:
ireland_lifeExp = gapminder[gapminder['country'] == 'Ireland']['lifeExp']
switzerland_lifeExp = gapminder[gapminder['country'] == 'Switzerland']['lifeExp']

# Calculate the variance
ireland_variance = round(ireland_lifeExp.var() , 3)
switzerland_variance = round(switzerland_lifeExp.var(),3)

print("Variance of life expectancy in Ireland:", ireland_variance)
print("Variance of life expectancy in Switzerland:", switzerland_variance)

Variance of life expectancy in Ireland: 13.093
Variance of life expectancy in Switzerland: 16.093

In [36]:
#anova

In [13]:
gapdata = gapminder[(gapminder['year'] == 2007) & (gapminder['continent'].isin(['Americas', 'Europe', 'Asia']))]

# Select the continent and lifeExp columns
gapdata = gapdata[['continent', 'lifeExp']]

In [14]:
gapdata

     continent  lifeExp
11        Asia   43.828
23      Europe   76.423
59    Americas   75.320
83      Europe   79.829
95        Asia   75.635
...        ...      ...
1631  Americas   76.384
1643  Americas   73.747
1655      Asia   74.249
1667      Asia   73.422
1679      Asia   62.698

[88 rows x 2 columns]

In [15]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [16]:
model = ols('lifeExp ~ continent', data=gapdata).fit()

# Perform ANOVA
anova_table = sm.stats.anova_lm(model, typ=2)

# Print ANOVA summary
print(anova_table)

                sum_sq    df          F    PR(>F)
continent   755.617831   2.0  11.634169  0.000034
Residual   2760.296640  85.0        NaN       NaN

In [17]:
#we reject hypothesis

In [18]:
from sklearn.datasets import load_iris
from scipy.stats import chi2_contingency

# Load the Iris dataset
iris = load_iris()
X = iris.data
y = iris.target

# Create a DataFrame for the Iris dataset
iris_df = pd.DataFrame(X, columns=iris.feature_names)
iris_df['species'] = y

In [19]:

# Discretize sepal length into two categories
iris_df['sepal_length_category'] = pd.cut(iris_df['sepal length (cm)'], bins=2, labels=['Short', 'Long'])
iris_df['sepal_length_category']

0      Short
1      Short
2      Short
3      Short
4      Short
       ...
145     Long
146     Long
147     Long
148     Long
149    Short
Name: sepal_length_category, Length: 150, dtype: category
Categories (2, object): ['Short' < 'Long']

In [20]:

# Discretize sepal width into three categories
iris_df['sepal_width_category'] = pd.cut(iris_df['sepal width (cm)'], bins=3, labels=['Narrow', 'Medium', 'Wide'])

# Create a contingency table
contingency_table = pd.crosstab(iris_df['sepal_length_category'], iris_df['sepal_width_category'])

# Perform chi-squared test
chi2_stat, p_val, dof, expected = chi2_contingency(contingency_table)

# Output the results
print("Chi-Squared Statistic:", chi2_stat)
print("P-Value:", p_val)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:\n", expected)

Chi-Squared Statistic: 4.752459441200152
P-Value: 0.09290017767720457
Degrees of Freedom: 2
Expected Frequencies:
 [[29.76666667 55.73333333  9.5       ]
 [17.23333333 32.26666667  5.5       ]]